@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}

section{
	padding: 50px;
	height: 600px;
}

table{
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse; 
	width: 500px;
}

caption{
	margin-bottom: 20px; 
	font-size: 25px;
}
select{
	width: 100px;
}

tr:nth-last-child(1){
	text-align: center;
}

td{
	border: 1px solid black;
	padding: 10px;
}
button{
	width: 70px;
}