@charset "UTF-8";
html,body {
	margin: 0;
	padding: 0;
}
header {
	background-color: #0102fd;
	text-align: center;
	min-height: 100px;
}
header a{
	text-decoration: none;
	color:black;
}
header a h1{
	text-align: center;
	margin:0;
	padding:0;
	padding-top:22px;
}